venv/
Clustering/
Clean_data/cleaned_weather_data.csv

clustering_model/models
clustering_model/clean_data_test.csv
clustering_model/clean_data_train.csv
clustering_model/processing.ipynb
clustering_model/visualization.ipynb
